/*
    Project: Portfolio Site
    Programmer: Jared Martinez
    Date: 4/29/2019
*/
/* Palette */
body {
  font-size: 16px;
  color: #000;
  background-color: #FFF;
}
body .row {
  margin-left: 0;
  margin-right: 0;
}
body a {
  color: #00A0B0;
}
body a:hover {
  color: #008997;
}
body #particles {
  margin-top: -8em;
  width: 100%;
}
body #nonHero > #particles {
  max-height: 150px;
}
header {
  background-color: #00A0B0;
  color: #FFF;
}
header .container-fluid {
  padding: 0;
}
header img {
  display: none;
}
header .navbar {
  background-color: #FFF;
}
header .navbar .navbar-brand {
  display: none;
}
header .navbar .navbar-brand a {
  color: #000;
  text-decoration: none;
}
header #hero,
header #nonHero {
  border-top: 0.5em solid #008997;
  padding: .5em;
}
header #hero {
  height: 250px;
}
header h1 {
  font-size: 2.25em !important;
  padding: .5em;
  padding-top: .75em;
}
main {
  border-top: 0.5em solid #008997;
}
main div.container-fluid h2 {
  font-size: 2em !important;
  padding: 1em;
  padding-bottom: .25em;
  border-bottom: solid lightgray 1px;
  width: 90%;
  margin-left: 5%;
}
main div.container-fluid img {
  max-width: 100%;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
}
main div.container-fluid p {
  line-height: 1.75;
}
footer {
  margin-top: 2em;
  border-top: 0.5em solid #008997;
}
footer div.container-fluid img {
  text-align: center;
  max-width: 100%;
  height: 200px;
}
footer div.container-fluid .fab {
  font-size: 2em;
  text-align: center;
}
footer div.container-fluid .row:nth-of-type(2) {
  margin-left: -15px;
  margin-right: -15px;
}
footer div.container-fluid h2 {
  background-color: #00A0B0;
  color: #FFF;
  font-size: 1.25em;
  padding: 1em;
  margin-bottom: -1em;
}
footer div.container-fluid .col-md-4 {
  padding-top: 1em;
  padding-bottom: 1em;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 17px;
  }
  body #particles {
    margin-top: -16em;
  }
  body #nonHero > #particles {
    max-height: 200px;
    margin-top: -8em;
  }
  header #hero,
  header #nonHero {
    padding: 1em;
  }
  header #hero {
    height: 350px;
  }
  header #hero h1 {
    padding-top: 3em;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
  body #particles {
    margin-top: -25em;
  }
  body #nonHero > #particles {
    max-height: auto;
    margin-top: -15em;
  }
  header #hero {
    height: 750px;
  }
  header #hero h1 {
    display: none;
  }
  header .navbar .navbar-brand {
    display: block;
    margin-left: 1em;
    padding: 1em;
  }
  header .navbar .navbar-brand a {
    border-bottom: 1px solid #FFF;
    transition: all .5s;
  }
  header .navbar .navbar-brand a:hover {
    border-bottom: 1px solid #000;
    transition: all .5s;
  }
  header img {
    margin-top: 5em;
    display: block;
    max-width: 100%;
    height: 300px;
    margin-left: 38.5%;
  }
  header nav .nav {
    margin-right: 1em;
    display: flex;
    flex-direction: row !important;
  }
  header nav .nav li {
    flex: 1;
    padding: 1em;
  }
  header nav .nav li a {
    border-bottom: #FFF solid 1px;
    transition: all .5s;
    padding: 0;
  }
  header nav .nav li a:hover {
    transition: all .5s;
    border-bottom: #008997 solid 1px;
  }
  main div.container-fluid {
    padding: 2em;
  }
  main div.container-fluid h2 {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
  }
  main div.container-fluid p {
    line-height: 2;
  }
  footer ul li a {
    text-decoration: none;
  }
  footer ul li a:hover {
    text-decoration: underline;
  }
}
