/*
    Project: Portfolio Site
    Programmer: Jared Martinez
    Date: 4/29/2019
*/

/* Palette */
@color1: #00A0B0;
@color2: #FFF;
@color3: #000;

body {
    font-size: 18px;
    color: @color3;
    background-color: @color2;
}

// Main 
main {
    div.container-fluid {
        img {
            max-width: 100%;
        }
    }
}
// Footer
footer {
    div.container-fluid {
        img {
            max-width: 100%;
        }
    }
}